# Environment
.env
.env.*

# Virtual environment
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp

# Project output
app/bm_report/output/*.csv
